body{
    background-color: antiquewhite;
}
table{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th{
    background-color: white;
}
.columna1  {
    width: 20%;
    background-color: azure;
}
.columna2 {
    width: 20%;
}

.columna3 {
    width: 60%;
    background-color: azure;
}
