body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

#central {
    text-align: center;
    margin: 50px;
}

h2 {
    font-size: 24px;
    color: #333;
}

.information {
    padding: 10px;
    font-size: 16px;
}

#btnbuscar, #btnlimpiar {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#btnbuscar:hover, #btnlimpiar:hover {
    background-color: #0056b3;
}

#tabla {
    margin-top: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.table th {
    background-color: #007BFF;
    color: #fff;
}

.table tr {
    text-align: center;
}

.table-row {
    background-color: #fff;
}

.table-row:hover {
    background-color: #f2f2f2;
}

#tabla{
    display: flex;
    justify-content: center;
}