div tr th{
    border: 10px solid black;
}
body{
    background-color: black;
    color: white;
}

#tabla{
    color: black;
    background-color: white;
    tr{  
        th{
            border-radius: 10px;
        } 
    }
}


#container{
    text-align: center;
}